<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>White Green Simple Clean Business Contractor Invoice</title>
    <meta name="author" content="KANDARP SHAH" />
    <meta name="keywords" content="DAFWB9o252s,BAFWB5g8L2o" />
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
        text-indent: 0;
      }
      h1 {
        color: #4a6164;
        font-family: "Century Gothic", sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 57.5pt;
      }
      .s1 {
        color: #4a6164;
        font-family: Tahoma, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 18pt;
      }
      p {
        color: #4a6164;
        font-family: "Century Gothic", sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 12pt;
        margin: 0pt;
      }
      .s2 {
        color: #4a6164;
        font-family: "Lucida Sans Unicode", sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 25pt;
      }
      .s3 {
        color: #4a6164;
        font-family: "Lucida Sans Unicode", sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
      }
      .s4 {
        color: #4a6164;
        font-family: "Century Gothic", sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 13pt;
      }
      .s5 {
        color: #4a6164;
        font-family: "Lucida Sans Unicode", sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 13pt;
      }
      .s6 {
        color: #4a6164;
        font-family: "Lucida Sans Unicode", sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
      }
      .s7 {
        color: black;
        font-family: Tahoma, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
      }
      table,
      tbody {
        vertical-align: top;
        overflow: visible;
      }

      .container{
        width: 60%;
        margin: auto;
        border: 1px solid black;
      }

      .box{
        min-height: 100px;
        max-width: 100px;
        background-color: #4a6164;
        position: relative;
        left: 0px;
        top: 0px;
      }

      .footer{
        width: 100%;
        min-height: 50px;
        background-color: #4a6164;
      }

      .content{
        padding: 20px 40px;
      }

      .hr{
        width: 90px;
        height: 2px;
        background-color: #789194;
        margin-top: 8px;
      }

      .hr2{
        width: 560px;
        height: 3px;
        background-color: #9cbabe;
        outline: none;
        border: none;
        margin: auto;
        padding-right: 110px;
        margin-top: 7px;
      }

      .bottom{
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    </style>
  </head>
  <body>
    <div class="container">
    <div class="box"></div>
    <div class="content">
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <h1 style="padding-top: 2pt; text-indent: 0pt; text-align: left">
      SACHIVALAYA
    </h1>
    <p style="text-indent: 0pt; text-align: left" />
    <p
      class="s1"
      style="
        padding-top: 4pt;
        padding-left: 0pt;
        text-indent: 0pt;
        text-align: left;

        width: 175pt;
        /* border-bottom-style: solid;
        border-bottom-width: 4px;
        border-bottom-color: #a1bac6; */
      "
    >
      Canteen Management
    </p>
    <hr class="hr"/>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p
      style="
        padding-left: 27pt;
        text-indent: 0pt;
        line-height: 2pt;
        text-align: left;
      "
    ></p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p
      style="
        padding-top: 12pt;
        padding-left: 0pt;
        text-indent: 0pt;
        line-height: 12pt;
        text-align: left;
      "
    >
      ISSUED TO
    </p>
    <p
      class="s2"
      style="
        padding-left: 0pt;
        text-indent: 0pt;
        line-height: 36pt;
        text-align: left;
      "
    >
      <%= orders.uname %>
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="text-indent: 0pt; line-height: 14pt; text-align: right">
      ORDERID
    </p>
    <p
      class="s3"
      style="text-indent: 0pt; line-height: 16pt; text-align: right"
    >
      <%= orders.order._id %>
    </p>
    <!-- <p
      style="
        padding-top: 4pt;
        text-indent: 0pt;
        line-height: 14pt;
        text-align: right;
      "
    >
      DATE ISSUED
    </p>
    <p
      class="s3"
      style="text-indent: 0pt; line-height: 16pt; text-align: right"
    >
      0 4 . 0 8 . 2 0 2 4
    </p> -->
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p
      style="
        padding-left: 5pt;
        text-indent: 0pt;
        line-height: 3pt;
        text-align: left;
      "
    >
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <table
      style="border-collapse: collapse; margin-left: 6.19216pt"
      cellspacing="0"
    >
      <tr style="height: 33pt">
        <td
          style="
            width: 259pt;
            border-bottom-style: solid;
            border-bottom-width: 4pt;
            border-bottom-color: #a1bac6;
            border-top-style: solid;
            border-top-width: 4pt;
            border-top-color: #a1bac6;
          "
        >
          <p
            class="s4"
            style="padding-left: 20pt; text-indent: 0pt; text-align: left; padding-top: 8px;"
          >
            DESCRIPTION
          </p>
        </td>
        <td
          style="
            width: 93pt;
            border-bottom-style: solid;
            border-bottom-width: 4pt;
            border-bottom-color: #a1bac6;
            border-top-style: solid;
            border-top-width: 4pt;
            border-top-color: #a1bac6;
          "
        >
          <p
            class="s5"
            style="
              padding-left: 11pt;
              text-indent: 0pt;
              line-height: 19pt;
              text-align: left;
              padding-top: 8px;
            "
          >
            QUANTITY
          </p>
        </td>
        <td
          style="
            width: 165pt;
            border-bottom-style: solid;
            border-bottom-width: 4pt;
            border-bottom-color: #a1bac6;
            border-top-style: solid;
            border-top-width: 4pt;
            border-top-color: #a1bac6;
          "
        >
          <p
            class="s4"
            style="padding-left: 14pt; text-indent: 0pt; text-align: left; padding-top: 8px;"
          >
            FEES
          </p>
        </td>
      </tr>
      <% for(let i=0;i<orders.name.length;++i){ %>
      <tr style="height: 40pt">
        <td
          style="
            width: 259pt;
            border-top-style: solid;
            border-top-width: 4pt;
            border-top-color: #a1bac6;
            border-bottom-style: solid;
            border-bottom-width: 2pt;
            border-bottom-color: #a1bac6;
          "
        >
          <p
            class="s6"
            style="
              padding-top: 9pt;
              padding-left: 21pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            <%=orders.name[i].names%>
          </p>
        </td>
        <td
          style="
            width: 93pt;
            border-top-style: solid;
            border-top-width: 4pt;
            border-top-color: #a1bac6;
            border-bottom-style: solid;
            border-bottom-width: 2pt;
            border-bottom-color: #a1bac6;
          "
        >
          <p
            class="s6"
            style="
              padding-top: 10pt;
              padding-left: 11pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            <%=orders.name[i].qty%>
          </p>
        </td>
        <td
          style="
            width: 165pt;
            border-top-style: solid;
            border-top-width: 4pt;
            border-top-color: #a1bac6;
            border-bottom-style: solid;
            border-bottom-width: 2pt;
            border-bottom-color: #a1bac6;
          "
        >
          <p
            class="s6"
            style="
              padding-top: 9pt;
              padding-left: 14pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            <%=orders.name[i].price%>
          </p>
        </td>
      </tr>
      <% } %>
      <!-- <tr style="height: 38pt">
        <td
          style="
            width: 259pt;
            border-top-style: solid;
            border-top-width: 2pt;
            border-top-color: #a1bac6;
            border-bottom-style: solid;
            border-bottom-width: 2pt;
            border-bottom-color: #a1bac6;
          "
        >
          <p
            class="s6"
            style="
              padding-top: 10pt;
              padding-left: 21pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            Project Draft
          </p>
        </td>
        <td
          style="
            width: 93pt;
            border-top-style: solid;
            border-top-width: 2pt;
            border-top-color: #a1bac6;
            border-bottom-style: solid;
            border-bottom-width: 2pt;
            border-bottom-color: #a1bac6;
          "
        >
          <p
            class="s6"
            style="
              padding-top: 9pt;
              padding-left: 11pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            4
          </p>
        </td>
        <td
          style="
            width: 165pt;
            border-top-style: solid;
            border-top-width: 2pt;
            border-top-color: #a1bac6;
            border-bottom-style: solid;
            border-bottom-width: 2pt;
            border-bottom-color: #a1bac6;
          "
        >
          <p
            class="s6"
            style="
              padding-top: 10pt;
              padding-left: 14pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            $2.000
          </p>
        </td>
      </tr>
      <tr style="height: 38pt">
        <td
          style="
            width: 259pt;
            border-top-style: solid;
            border-top-width: 2pt;
            border-top-color: #a1bac6;
            border-bottom-style: solid;
            border-bottom-width: 2pt;
            border-bottom-color: #a1bac6;
          "
        >
          <p
            class="s6"
            style="
              padding-top: 8pt;
              padding-left: 21pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            Implementation
          </p>
        </td>
        <td
          style="
            width: 93pt;
            border-top-style: solid;
            border-top-width: 2pt;
            border-top-color: #a1bac6;
            border-bottom-style: solid;
            border-bottom-width: 2pt;
            border-bottom-color: #a1bac6;
          "
        >
          <p
            class="s6"
            style="
              padding-top: 8pt;
              padding-left: 11pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            4
          </p>
        </td>
        <td
          style="
            width: 165pt;
            border-top-style: solid;
            border-top-width: 2pt;
            border-top-color: #a1bac6;
            border-bottom-style: solid;
            border-bottom-width: 2pt;
            border-bottom-color: #a1bac6;
          "
        >
          <p
            class="s6"
            style="
              padding-top: 8pt;
              padding-left: 14pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            $8.000
          </p>
        </td>
      </tr>
      <tr style="height: 37pt">
        <td
          style="
            width: 259pt;
            border-top-style: solid;
            border-top-width: 2pt;
            border-top-color: #a1bac6;
          "
        >
          <p
            class="s6"
            style="
              padding-top: 8pt;
              padding-left: 21pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            Foundation Labor
          </p>
        </td>
        <td
          style="
            width: 93pt;
            border-top-style: solid;
            border-top-width: 2pt;
            border-top-color: #a1bac6;
            border-bottom-style: solid;
            border-bottom-width: 3pt;
            border-bottom-color: #a1bac6;
          "
        >
          <p
            class="s6"
            style="
              padding-top: 8pt;
              padding-left: 11pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            4
          </p>
        </td>
        <td
          style="
            width: 165pt;
            border-top-style: solid;
            border-top-width: 2pt;
            border-top-color: #a1bac6;
            border-bottom-style: solid;
            border-bottom-width: 3pt;
            border-bottom-color: #a1bac6;
          "
        >
          <p
            class="s6"
            style="
              padding-top: 8pt;
              padding-left: 14pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            $1.800
          </p>
        </td>
      </tr> -->
      <!-- <tr style="height: 41pt"> -->
        <!-- <td style="width: 259pt">
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td> -->
        <!-- <td
          style="
            width: 93pt;
            border-top-style: solid;
            border-top-width: 3pt;
            border-top-color: #a1bac6;
          "
        >
          <p style="text-indent: 0pt; text-align: left"><br /></p>
          <p
            class="s4"
            style="padding-left: 11pt; text-indent: 0pt; text-align: left"
          >
            SUBTOTAL
          </p>
        </td>
        <td
          style="
            width: 165pt;
            border-top-style: solid;
            border-top-width: 3pt;
            border-top-color: #a1bac6;
          "
        >
          <p style="text-indent: 0pt; text-align: left"><br /></p>
          <p
            class="s6"
            style="
              padding-left: 14pt;
              text-indent: 0pt;
              line-height: 16pt;
              text-align: left;
            "
          >
            $12.700
          </p>
        </td>
      </tr> -->
      <!-- <tr style="height: 41pt">
        <td style="width: 259pt">
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td
          style="
            width: 93pt;
            border-bottom-style: solid;
            border-bottom-width: 3pt;
            border-bottom-color: #a1bac6;
          "
        >
          <p
            class="s4"
            style="padding-left: 11pt; text-indent: 0pt; text-align: left"
          >
            TAX
          </p>
        </td>
        <td
          style="
            width: 165pt;
            border-bottom-style: solid;
            border-bottom-width: 3pt;
            border-bottom-color: #a1bac6;
          "
        >
          <p
            class="s6"
            style="
              padding-left: 14pt;
              text-indent: 0pt;
              line-height: 18pt;
              text-align: left;
            "
          >
            $2.250
          </p>
        </td>
      </tr> -->
      <tr style="height: 32pt">
        <td style="width: 259pt">
          <p style="text-indent: 0pt; text-align: left"><br /></p>
        </td>
        <td
          style="
            width: 93pt;
            border-top-style: solid;
            border-top-width: 3pt;
            border-top-color: #a1bac6;
          "
        >
          <p
            class="s4"
            style="
              padding-top: 14pt;
              padding-left: 11pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            TOTAL
          </p>
        </td>
        <td
          style="
            width: 165pt;
            border-top-style: solid;
            border-top-width: 3pt;
            border-top-color: #a1bac6;
          "
        >
          <p
            class="s6"
            style="
              padding-top: 14pt;
              padding-left: 14pt;
              text-indent: 0pt;
              line-height: 17pt;
              text-align: left;
            "
          >
            <%=orders.order.price%>
          </p>
        </td>
      </tr>
    </table>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <!-- <p
      style="
        padding-left: 5pt;
        text-indent: 0pt;
        line-height: 3pt;
        text-align: left;
      "
    > -->
      <hr class="hr2"/>
    <!-- </p> -->
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <div class="bottom">
    <p
      style="
        padding-top: 5pt;
        padding-left: 26pt;
        text-indent: 0pt;
        line-height: 252%;
        text-align: left;
      "
    >
      PAYMENT DETAILS : <br>
      <%= orders.order.paymentmode %>
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p
      class="s7"
      style="padding-left: 26pt; text-indent: 0pt; text-align: left; margin-bottom: 30px; margin-right: 60px; color: gray;"
    >
      Sachivallaya Address
    </p>
  </div>
  </div>
    <div class="footer"></div>
  </div>
  </body>
</html>
